# RWET Programming Exercise B: Lists and list operations

To do this exercise, download this notebook and open it on your own computer. There are several tasks described below. Your job is to change the code in the cells so that the output from running the cell matches the expected output indicated above the cell.

## Task 1: Simple indexing and list functions

There is a list of numbers assigned to a variable `number_list` in the code below that has been assigned a list of numbers. Run this cell before filling in the answers below.

In [7]:
number_list = [-2, -58, 4, 36, -6, 60, -57]

Write another expression in the cell below, using square bracket index notation, that causes the 4th element of `number_list` (i.e., the number `36`) to be displayed when running the code in the cell.

Expected output: `36`

In [16]:
number_list[3]

36

Now write an expression that evaluates to the number of items in the list (i.e., `7`), using the `len()` function.

Expected output: `7`

In [19]:
len(number_list)

7

In [21]:
max(number_list)

60

In [29]:
sorted(number_list)

[-58, -57, -6, -2, 4, 36, 60]

The following expression:

    print max(number_list)
    
... will print the largest value in `number_list` (i.e., `60`). Change the variable `x` in the code below so that the expression

    print sorted(number_list)[x]
    
... does the same thing. (i.e., when you run the cell, it should display `60`.)

Expected output: `20`

In [15]:
x = 0
sorted(number_list)[x]

-58

## Task 2: List slices

Write an expression below that evaluates to a slice of `number_list` starting with its second element and ending with its fifth element (exclusive).

Expected output: `[-2, -58, 4, 36, -6, 60, -57]`

In [30]:
nubmer_list = [-2,-58,4,36,-6,60]

In [31]:
nubmer_list

[-2, -58, 4, 36, -6, 60]

In [32]:
nubmer_list[2:6]

[4, 36, -6, 60]

Now, write an expression below that evaluates to a slice of `number_list` starting with its third element and ending at the end of the list.

Expected output: `[4, 36, -6, 60, -57]`

In [33]:
nubmer_list[2:6]

[4, 36, -6, 60]

In [37]:
nubmer_list = [-2,-58,4,36,-6,60]

In [38]:
x = 2
number_list[x:]

[4, 36, -6, 60, -57]

Finally, fill in a value for the variable `x` below so that the expression below it evaluates to a slice of `number_list` starting at the second-to-last element of the list and ending at the end of the list. (Hint: `x` should be a negative integer.)

Expected output: `[60, -57]`

In [34]:
x = 5
number_list[x:]

[60, -57]

## Task 3: List comprehensions

For this problem set, I'm introducing a new Python operator: the modulo operator, `%`. This operator returns the *remainder* of dividing one integer by another. For example:

In [23]:
22 % 3

1

This expression evaluates to `1` because the remainder of dividing `22` by `3` is `1`. We can use the modulo operator to test whether or not a number is even (i.e., divisible by 2), by using the number `2` on the right side of the operator:

In [25]:
100 % 2

0

In [26]:
101 % 2

1

Given the above information, write a list comprehension that evaluates to a list containing *only* the members of `number_list` that are *divisible by three*. Use the modulo operator in the membership expression of the list comprehension.

Expected output: `[36, -6, 60, -57]`

In [56]:
number_list = [-2,-58,4,36,-6,60]

for num in range(number_list):
    for i in range(2,num):
        if (num%i==0):
            break
        else:
            print(num)
            break

TypeError: 'list' object cannot be interpreted as an integer

In [86]:
number_list = [-2,-58,4,36,-6,60]

for number_list[i] in range(0,len(number_list)): 
    if (number_list % 3) == 0: 
        print(number_list)

0
3

In [91]:
number_list = [-2,-58,4,36,-6,60]

number_list = [i for i in number_list if i%3 == 0]

number_list

[36, -6, 60]

In [92]:
number_list = [-2,-58,4,36,-6,60]

In [93]:
type(number_list)

list

In [94]:
type(number_list[2])

int

In [95]:
4 in number_list

True

In [96]:
2 in number_list

False

In [102]:
my_list = list(range(5))

In [103]:
my_list[2]

2

In [105]:
my_list

[0, 1, 2, 3, 4]

In [106]:
my_list[-4:-2]

[1, 2]

In [107]:
dana = list(range(10))
dana

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [112]:
[x*x for x in dana]
0*0 for 0 in dana = 0 
1*1 for 1 in dana = 1 
2*2 for 2 in dana = 4

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
bonus

In [113]:
[x/2 for x in range(5)]

[0.0, 0.5, 1.0, 1.5, 2.0]

In [114]:
[2*x for x in range(5)]

[0, 2, 4, 6, 8]

In [117]:
my_list = ['dana','elkis']
my_list

['dana', 'elkis']

In [121]:
["A"+x for x in my_list]

['Adana', 'Aelkis']

## Task 4: Splitting strings

In the cell below, a variable `float_str` is set to a string containing a list of floating-point numbers, separated by semicolons (`;`). (Make sure to run this cell before you proceed, so that the variable will be available in subsequent cells.)

In [122]:
raw_str = "17,25,26,25,35,18,25,33,39,30,13,21,22,35,28,27,26,23,21,21,24,17,25,30,24,18,38,19,33,26,26,15,30,32,32,36,25,21,34,30,29,27,18,34,30,24,31,13,37,36,42,33,31,20,61,22,19,17,23,19,21,24,43,15,25,32,38,17,13,32,17,34,38,29,37,36,27"
max(raw_str)

'9'

In [125]:
raw_str = raw_str.split(",")
raw_str

['17',
 '25',
 '26',
 '25',
 '35',
 '18',
 '25',
 '33',
 '39',
 '30',
 '13',
 '21',
 '22',
 '35',
 '28',
 '27',
 '26',
 '23',
 '21',
 '21',
 '24',
 '17',
 '25',
 '30',
 '24',
 '18',
 '38',
 '19',
 '33',
 '26',
 '26',
 '15',
 '30',
 '32',
 '32',
 '36',
 '25',
 '21',
 '34',
 '30',
 '29',
 '27',
 '18',
 '34',
 '30',
 '24',
 '31',
 '13',
 '37',
 '36',
 '42',
 '33',
 '31',
 '20',
 '61',
 '22',
 '19',
 '17',
 '23',
 '19',
 '21',
 '24',
 '43',
 '15',
 '25',
 '32',
 '38',
 '17',
 '13',
 '32',
 '17',
 '34',
 '38',
 '29',
 '37',
 '36',
 '27']

In [123]:
type(max(raw_str))

str

In [151]:
float_str = "5.8;6.9;3.1;5.9;6.6;6.5;6.5;5.6;6;6.4;3.32;6.0;6.0;6.3;6.6;6.6"

In [152]:
float_str = float_str.split(";")
float_str

['5.8',
 '6.9',
 '3.1',
 '5.9',
 '6.6',
 '6.5',
 '6.5',
 '5.6',
 '6',
 '6.4',
 '3.32',
 '6.0',
 '6.0',
 '6.3',
 '6.6',
 '6.6']

Write an expression below that converts this string into a list of floating-point numbers. The type of the expression should be `list` and the type of individual elements in the list should be `float`. Hint: You'll need to use the `float()` function, the `.split()` method, and a list comprehension.

Expected output:

    [5.8, 6.9, 3.1, 5.9, 6.6, 6.5, 6.5, 5.6, 6.0, 6.4, 3.32, 6.0, 6.0, 6.3, 6.6, 6.6]

In [155]:
type(float_str[0])

str

In [157]:
[float(x) for x in float_str]

[5.8,
 6.9,
 3.1,
 5.9,
 6.6,
 6.5,
 6.5,
 5.6,
 6.0,
 6.4,
 3.32,
 6.0,
 6.0,
 6.3,
 6.6,
 6.6]

Using the expression you wrote above as a starting point, write an expression below that evaluates to the *sum* of the numbers in the list.

Expected output: `94.11999999999999` (or close to that)

In [160]:
sum(float_str)

94.11999999999999

## Task 5: Strings in list comprehensions

In the cell below, I've defined a list of strings and assigned it to a variable called `greek`. Make sure to run this cell before you continue.

In [34]:
greek = ["alpha", "beta", "gamma", "delta", "epsilon"]

Okay. Your job in the next cell is to write an expression that evaluates to a list of strings in `greek` that contain *exactly five letters*.

Expected output: `["alpha", "gamma", "delta"]`

In [161]:
greek = ["alpha", "beta", "gamma", "delta", "epsilon"]
greek = [i for i in greek if len(i) > 5]
greek

['epsilon']

In [162]:
greek = ["alpha", "beta", "gamma", "delta", "epsilon"]
greek = [i for i in greek if len(i) == 5]
greek

['alpha', 'gamma', 'delta']

In the cell below, write an expression that evaluates to a string containing each of the *first letters* of each string in `greek`. Hint: You'll need to use a list comprehension and the `.join()` method.

Expected output: `'abgde'`

In [163]:
greek = ["alpha", "beta", "gamma", "delta", "epsilon"]

In [165]:
greek = ["alpha", "beta", "gamma", "delta", "epsilon"]

In [168]:
greek = ["alpha", "beta", "gamma", "delta", "epsilon"]

In [177]:
greek = ["alpha", "beta", "gamma", "delta", "epsilon"]
greek = [i[0] for i in greek]
greek

['a', 'b', 'g', 'd', 'e']

In [179]:
glue = ""
glue.join(greek)

'abgde'

In [181]:
dana = ["hi", "hi", "is", "dana"]
" ".join(dana)

'hi hi is dana'

In [184]:
dana = ["hi", "hi", "is", "dana"]
" ".join(dana)

'hi hi is dana'

In [197]:
import random

text = "one check aye one one"
words = text.split()
random.shuffle(words)
' '.join(words)

'one check aye one one'

In [214]:
import random
vitalchecks = ["aye", "one", "one", "psss"]
random.choice(vitalchecks)

'psss'

In [224]:
import random
vitalcheck = ["one","two","check","hey","test"]
random.shuffle(vitalcheck)
vitalcheck

['one', 'hey', 'check', 'two', 'test']

## Task 6: For loops

The cell below has the skeleton of the `for` loop written for you. Replace the string `"blip"` with an expression such that the cell, when executed, outputs the first ten multiples of five.

Expected output:

    0
    5
    10
    15
    20
    25
    30
    35
    40
    45

In [39]:
for i in range(10):
    print("blip")

blip
blip
blip
blip
blip
blip
blip
blip
blip
blip

Using the variable `greek` that was defined earlier, write a `for` loop in the cell below so that when the cell is executed it outputs, on separate lines, each of the elements of the list in upper case.

Expected output:

    ALPHA
    BETA
    GAMMA
    DELTA
    EPSILON

In [253]:
greek = ["alpha", "beta", "gamma", "delta", "epsilon"]

for something in greek:
    upperis = something.upper()
    print(upperis)

ALPHA
BETA
GAMMA
DELTA
EPSILON

In [257]:
for something in greek:
    if len(something) == 4:
        print(something.upper())
    elif len(something) == 5:
        print("   " + something)
    else:
        print(something)

   alpha
BETA
   gamma
   delta
epsilon

In [246]:
import random

poem = [line.strip() for line in open("frost.txt")]
random.shuffle (poem)
poem

['And that has made all the difference.',
 'And both that morning equally lay',
 'I doubted if I should ever come back.',
 'Had worn them really about the same,',
 'And sorry I could not travel both',
 'Somewhere ages and ages hence:',
 'Yet knowing how way leads on to way,',
 'Two roads diverged in a yellow wood,',
 'And looked down one as far as I could',
 'And be one traveler, long I stood',
 'Because it was grassy and wanted wear;',
 '',
 '',
 'I took the one less travelled by,',
 '',
 'And having perhaps the better claim,',
 'Though as for that the passing there',
 'Two roads diverged in a wood, and Iâ€”',
 'In leaves no step had trodden black.',
 'Oh, I kept the first for another day!',
 'Then took the other, as just as fair,',
 'To where it bent in the undergrowth;',
 'I shall be telling this with a sigh']

You're done! Good job.